{
    "application.fingerprint" : "c4a1r9lz1e5d2vCcVQyJqwLDo8uPgEcxxd0HyaBIo+ageHAl3A2pzF83lQo+ulLcsvTZNUzXkmWjn09oO0zcsg==",
    "application.language" : "zh-CN",
    "application.masterPassword" : true,
    "filer.hiddenItemsVisible" : true,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.loginWizard.defaultAuthType" : "Account",
    "terminal.rightClickAction" : "CopyOrPasteText",
    "terminal.text.eolVisible" : false,
    "terminal.text.hexColumns" : 16,
    "text.fontFamily1" : "PT Mono",
    "text.fontFamily2" : "PT Sans",
    "text.fontFamily3" : "PT Serif",
    "text.fontFamily4" : "Roboto Mono",
    "text.fontSize" : 15,
    "text.preferThemeFonts" : false,
    "text.zoomFactor" : 2
}
